                   /* quicksand font */
                   /* quicksand font */

                
.quicksand-font {
font-family: "Quicksand", serif;
font-optical-sizing: auto;
font-style: normal;
}       


                  /* raleway font */
                   /* raleway font */


.raleway-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

              /* shared style */
               /* shared style */

.display-flex{
    display: flex;
}

/* body{
    max-width: 1440px;
} */

                 /* nav section */
                  /* nav section */

.nav-section{
    max-width: 1160px;
    height: auto;
    margin: 0 auto;
    justify-content:space-between ;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px ;
}
.nav-start{
    align-items: center;
    gap: 15px;
    max-width: 202px;
    height: 62px;

}                  
.nav-image{
    width: 62px;
    height: 62px;
}
.nav-title{
    font-size: 2rem;
    font-weight: bold;
    color: black;
}


.nav-list{
    display: flex;
    gap: 32px;
    max-width: 387px;
    height: 30px;
}
.nav-list>a{
    text-decoration: none;
}

.home{
    font-size: 1.25rem;
    font-weight: bold;
    color: orange;
}

.about{
    font-size: 1.25rem;
    font-weight: 500;
    color: skyblue; 
}

.facilities{
    font-size: 1.25rem;
    font-weight: 500;
    color: #05D4DF;
}

.admission{
    font-size: 1.25rem;
    font-weight: 500;
    color: #5D58EF;   
}

.nav-button{
    width: 197px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background-color: orange;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
}


   .h-b{
     display: none; 
     width: 35px;
     height: 35px;
}  

.hamburger{
    width: 100%;
    height: auto;
}

hr{
     display: none;  
    width: 1160px;
    height: 3px;
    background-color: orange;
    border: none;
} 





              /* banner section */
              /* banner section */

.banner-section{
    display: flex;
    max-width:1160px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}


.banner-left{
    width: 640px;
    height: auto;
}
.banner-title{
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.Empowering{
    color: orange;
}

.t-v{
    color: skyblue;
}

.banner-description{
    font-size: 1.25rem;
    font-weight: 400; 
    margin-top: 0px; 
    margin-bottom: 24px;
}

.banner-button{
    width: 197px;
    height: 50px;
    background-color: black;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 12px;
    margin-top: 0px;

}


.banner-right{
    width: 468.61px;
    height: 575px;
}

.banner-image{
    width: 100%;
    height: auto;
}

    /* standard curriculum section */
     /* standard curriculum section */

.standard-curriculum{
    max-width: 1160px;
    height: auto;
    margin: 0 auto;
    background-image:url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
}
.standard-curriculum-div{
  
    display: flex;
    gap: 28.29px;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 80px;
}

.curriculum-title{
    font-size: 2.875rem;
    font-weight: bold;
    color: black;
    padding-top: 60px;
    margin-bottom: 0px;
}

.curriculum-cards-1{
    width: 368px;
    height: 400px;
    text-align: center;
    border-radius: 18.86px;
    background-image:linear-gradient(rgba(222, 245, 255, 1),rgba(255, 255, 255, 1));
    padding: 80px 40px 0px 40px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 28.3px 0.94px;
    
}

.curriculum-cards-2{
    width: 368px;
    height: 400px;
    text-align: center;
    border-radius: 18.86px;
    background-image:linear-gradient(rgba(255, 244, 220, 1),rgba(255, 255, 255, 1));
    padding: 80px 40px 0px 40px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 28.3px 0.94px;
    
}

.curriculum-cards-3{
    width: 368px;
    height: 400px;
    text-align: center;
    border-radius: 18.86px;
    background-image:linear-gradient(rgba(242, 232, 255, 1),rgba(255, 255, 255, 1));
    padding: 80px 40px 0px 40px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 28.3px 0.94px;
    
}

.curriculum-card-image{
    width: 137px;
    height: 137px;
    margin-bottom: 0px;
}

.curriculum-card-title{
    font-size: 1.5325rem;
    font-weight: bold;
    color: #202020;
    margin-top: 32.07px;
    margin-bottom: 0px;
}


.curriculum-card-description {
    font-size:0.943rem;
    font-weight: 500;
    color: #808080;
    margin-top: 33.48px;
    margin-bottom: 0px;
}

.read-more-1{
    font-size:0.943rem;
    font-weight: bold;
    color: #64C8FF;
    margin-top: 39px;  

}

.arrow-container{
    width: 100%;
    margin-bottom: 60px;
}

        /* story-section */
         /* story-section */

 main{
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4),rgba(254, 163, 1, 0.2)),url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
  
  
  
 }        


.story-section{

    max-width: 1160px;
    margin: 0 auto;

}

.story-title{
    font-size: 2.875rem;
    font-weight: bold;
    color: black;
    text-align: center;
    margin: 0px;
}

.story-cards-container{
    display: flex;
    gap: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: space-between;

}

.left-story-card{
    border: none;
    border-radius: 16px;
    background-color: white;
   width: 540.27px;
   height: 630.52px;
    
}


.ls-image{
    width: 100%;
    height: auto;
    margin: 0px;
    border-radius: 16px  16px 0px 0px ;
}

.ls-button{
    background-color: #3CD8E8;
    border: none;
    border-radius: 47.93px;
    color: white;
    font-size: 0.95875rem;
    font-weight: 500;
    width: 175px;
    height: 48px;
    transform: translateY(-24px);
    margin-left: 50px;
   
   
}

.ls-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    padding: 20px;
}

.ls-description{
    font-size: 0.9587rem;
    font-weight: 500;
    color: #666666;
    padding: 20px;
    padding-bottom: 35px;
}

.right-story-cards{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 20px;
   
}


.rs-title{
    color: black;
    padding: 20px;
    padding-top: 0px;
    font-size: 0.95875rem;
    font-weight:bold ;
}

.r-s-c{
    border: none;
    border-radius: 16px;
    background-color: white;
    max-width: 290.69px;
    height: 301.61px;
   
    
    
}


.rs-button{
    background-color: #3CD8E8;
    border: none;
    border-radius: 47.93px;
    color: white;
    font-size: 0.95875rem;
    font-weight: 500;
    width: 150px;
    height: 35px;
    transform: translateY(-24px);
    margin-left: 50px;
}


.story-button{
    display: grid;
    grid-template-columns: repeat(1,auto);
    justify-content: center;
    padding-bottom: 60px;
}



          /* footer section */
            /* footer section */

footer{
background-color: #01ACFD;
width: 100%;
}

.footer-section{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 100px;
    text-align: left;
}

.footer-i-t{
    display: flex;
}

.footer-left-title {
    font-size: 2.63375rem;
    font-weight: bold;
    color: white;
    margin: 0px;
    margin-top: 9px;
   
}

.footer-left-image{
    width: 110px;
    height: 115px;
    margin: 0px;
    padding-left: 0px;
}


.footer-left-description {
    font-size:1.25rem;
    font-weight: 500;
    color: white; 
    text-wrap: wrap;
    max-width: 400px;
    height: auto;
    text-align: left;
}

.footer-about{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-align: left;
}

.footer-middle-container{
    text-align: left;
}

.footer-middle{
    text-align: left;
}

.footer-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 25px;
    text-align: left;

   
}

.f-link{
    text-decoration: none;
    color: white;
    text-align: left;
    margin-left: -40px;
}


.footer-right-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-align: left;
}




              /* responsive section */
              /* responsive section */

@media screen and (max-width:576px) {

    .nav-title, .nav-middle, .nav-button{
        display: none;
        margin-bottom: 0px;
    }

    .h-b{
        display:block ;
        position: top right;
        padding: 10px;
        margin-bottom: 0px;

        
    }  

    hr{
        display: block;
        width: 100%;
        margin-top: 0px;
      
    }



    .banner-section{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        margin-top: 30px;
        gap: 20px;

    }



    .banner-left{
        width: 100%;
        height: auto;
      
    }

    .banner-right{
        width: 100%;
        height: auto;
    }




    .standard-curriculum-div{
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    .curriculum-cards-1{
        width: 100%;
        height: auto;
    }

    .curriculum-cards-2{
        width: 100%;
        height: auto;
    }

    .curriculum-cards-3{
        width: 100%;
        height: auto;
        
    }

main{
    width: 100%;
    margin: 0px;
}

.story-title{
    text-align: center;
}

.story-cards-container{
    padding-bottom: 40px;
    padding-top: 50px;
}
 .left-story-card{
    display: none;
 }  

 .right-story-cards{
    justify-content: center;
    grid-template-columns: repeat(2,auto);
    width: 100%;
   gap: 10px;
   padding: 10px;
 }

 .r-s-c{
   
    height:auto;
 }
 

    .rs-button{
        background-color: #3CD8E8;
        border: none;
        border-radius: 47.93px;
        color: white;
        font-size: 0.95875rem;
        font-weight: 500;
        width: 100px;
        height: 35px;
        transform: translateY(-17.5px);
        margin-left: 30px;
    }


    .footer-section{
        flex-direction: column;
        padding: 20px;
        text-align: left;
    }

   


   

   




    
}